<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoBiblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/MiEstilo.css" />
</head>
<body>
    <div class="row" id="cabecera">
        <div class="col-3 d-flex justify-content-center">
            <div id="cabeImagen">
                <br />
                
            </div>
        </div>
        <div class="col-sm-9">
            <div id="area_titulo">
                <div class="text-xl-left">
                    <h1>
                        Sistema Libreria
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id="menu">
        <img src="~/Images/logo.png" class="img-fluid" />
        <h2>MENU</h2>
        <dl>
            <dt><a href="~/Home/Index">Principal</a></dt>
            <dt><a asp-controller="Libros" asp-action="Index">Libros</a></dt>
            <dt><a href="~/Home/Index">MyApp</a></dt>
        </dl>
    </div>

    <div id="contenido">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true);
    }
</body>
</html>
